* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://i.ytimg.com/vi/317jz-PU7Mg/maxresdefault.jpg);
  background-repeat: none;
  background-size: cover;
  color: #fff;
}

.boxCard{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2vw 0;
}

.image{
    width: 20vw;
    border-radius: 50%;
    box-shadow: 1vw 1vw 1vw;
}

.cardParagraph{
    font-size: 2vw;
    background-color: yellow;
    width: 40vw;
    padding: 5vw 2vw;
    border-radius: 5vw 5vw 5vw 0;
    margin-left: 2vw;
    box-shadow: 0 0 1vw;
    color: black;
}
