* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://i.ytimg.com/vi/317jz-PU7Mg/maxresdefault.jpg);
  background-repeat: none;
  background-size: cover;
  color: #fff;
}